:root{
    --gray: #23272E;
    --red: #F20505;
    --blue: #4B7DBF;
    --purple: #7756BF;
    --pink: #F57993;
    --yellow: #F2C029;
}

body{
    background-color: var(--gray);
    font-family: sans-serif;
    color: #B8B7B7;
}
h1{
    text-align: center;
    color: var(--blue);
}
#main_card{
    width: 1600px;

}   
h1{
    text-align: center;
}
#columns{
    display: grid;
    grid-auto-flow: column;
    width: auto;
    overflow: hidden;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
#brain {
    position: relative;
    width: 350px;
    height: 350px;
}
.card{
    display: grid;
    text-align: center;
    margin: auto;
    text-align: center;
    margin: auto;
    border-radius: 5%;
    border: 2px solid #B8B7B7 ;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 12px;
}

#timer{
    position: relative;
    font-size: 7em;
    margin-bottom: 0px;    
}
#type{
    font-size: 2em;
}


button{
    color: white;
    background-color:var(--red);
    border-radius: 8px;
    border-style: none;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}   
#start-button{
    margin: 50px;
    width: 300px;
    padding: 15px 0;
    font-size: 1.5em;
}
#type{
    margin: 50px;
    width: 150px;
    padding: 15px 0;
    font-size: 1.3em;
}
#brain-outline-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#brain-fill {
    width: 100%;
    height: 100%;
    background-size: 100% 200%;
    background-repeat: no-repeat;
    background-position-y: 0%;
    -webkit-mask-image: url('brain-solid.png');
    mask-image: url('brain-solid.png');
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: background-position-y 0.3s ease-out;
}